/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Generic Styles
    ------------------------------------------- **/

html, body {
    color: $color-text;
}

body {
    background-color: $color-page-light-gray;
    overflow-x: hidden;
}

body[class*="-toggled"] {
    overflow-x: hidden;
    position:fixed;
}

