/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Positions
    ------------------------------------------- **/

/**
 * Aligns
 * start and end values for text-aligns are direction safe.
 * no need to additional definition for rtl/ltr differences.
 */

.align-center {
	// will align to left in ltr
	// will align to right in rtl
	text-align: center;
}