/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Widths
    ------------------------------------------- **/
//
// Sixths
//
@include widths(6);

//
// Sevenths
//
@include widths(7);

//
// Ninths
//
@include widths(9);

//
// Elevenths
//
@include widths(11);

// Static Widths

.x-small {
    width: 50px;
}

.small {
    width: 100px;
}

.medium {
    width: 150px;
}

.large {
    width: 200px;
}

.x-large {
    width: 300px;
}

.xx-large {
    width: 400px;
}

.xxx-large {
    width: 500px;
}