/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Heading Styles
    ------------------------------------------- **/

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: $color-secondary;
}