/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Links Elements
    ------------------------------------------- **/
a {
    color: $base-anchor-color;

    &.icon {
        text-decoration: none;
    }
}