/**
 * @author Doğan TV Software Section
 */

/** -------------------------------------------
    Keyframes
    ------------------------------------------- **/
@keyframes spin-around {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}